


  $yosemiteYellow: rgb(250,234,169);
  $yosemiteGray: rgb(169,180,190);
  $yosemiteGreen: rgb(146,140,63);
  $yosemiteBlue: rgb(73, 115,143);
  $yosemiteOrange: rgb(154,102,47);

  $textFillWhite: #ffffffff;
  
  $subPageBackground: rgba(255,255,255, 0.5);