.Container {
  position: relative;
  height: 100vh;
  width: 100%
}

.Video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  /* display: none; */
}

/* Add some content at the bottom of the video/page */
.SubContent {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%,-50%);
}

.Title {
  color: white
}
.Link{
  color: white
}