@import "color-constants.scss";

.menu-wrapper {
        background: none;
        padding-top: 10px;
        margin: 0px auto;
        padding-left: 60px;
        padding-right: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.menu-links{
        display: contents;
        list-style: none;
        font-family: "Trade Gothic LT Com Bold", sans-serif;
        align-items: center;
}

.menu-links li a {
        color: $yosemiteBlue ;
        }
        
        .menu-links li a:hover{
        border-bottom: 3px solid $yosemiteGray;
        transition: border-bottom .2s ease;
}

.adventure-logo{
    width: 134px;
    height: 134px;
}